# Backend base URL used by the frontend proxy for uploads
# Default: https://apisam.netdw.tech
NUXT_PUBLIC_BACKEND_URL=https://apisam.netdw.tech
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=https://sam.netdw.tech
