# Backend base URL used by the frontend proxy for uploads
# Default: https://apisam.netdw.tech
NUXT_PUBLIC_BACKEND_URL=https://apisam.netdw.tech
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=https://sam.netdw.tech
# OpenWeather API Key
# Get your API key from: https://openweathermap.org/api
NUXT_PUBLIC_OPENWEATHER_API_KEY=your_api_key_here
